.custom-node {
  border-radius: 0 0 8px 8px ;
  text-align: center;
  padding: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease, background-color 0.3s ease;
}

.custom-node.deleted {
  background-color: #ffcccc;
}

.custom-node.inactive {
  opacity: 0.5;
}


.node-label {
  font-size: 14px;
  border-radius: 5px;
  padding: 5px 2px;
  margin-bottom: 10px;
  background-color: #eee;
}

.approval-badge {
  display: inline-block;
  margin-left: 5px;
  padding: 2px 4px;
  border-radius: 50%;
  font-size: 12px;
  color: white;
  position: absolute;
  right: -5px;
  top: -5px;
}

.approval-badge.approved {
  background-color: #709f7b;
}

.approval-badge.not-approved {
  background-color: #aa5059;
}

.custom-node.approved {
  border-top: 2px solid #709f7b;
}

.custom-node.not-approved {
  border-top: 2px solid #aa5059; 
}

.node-buttons button {
  width: 30px;
  height: 30px;
  border: none;
  line-height: 0.5;
  margin: 2px;
  font-size: 14px;
  background-color: var(--main);
  color: white;
  cursor: pointer;
  border-radius: 50%;
}

.node-buttons button:hover {
  background-color: #0056b3;
}

.react-flow__handle {
  background-color: transparent;
  border: none;
}

.react-flow__edge-path {
  stroke: white !important;
}